@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-card {
    background-image: url("/images/card-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }